<div class="w-16 h-screen bg-white flex flex-col">
  <!-- <div class="border-b border-slate-300">
    <img src="./logo.svg" alt="" class="w-24 h-24 p-4 rounded-4xl" />
  </div> -->

  <div class="py-4 flex-1 flex flex-col justify-between overflow-y-auto">
    <div>
      <app-icon-button icon="fa-comments"></app-icon-button>
      <app-icon-button icon="fa-square-user"></app-icon-button>
      <app-icon-button icon="fa-bell"></app-icon-button>
      <app-icon-button icon="fa-file"></app-icon-button>
      <app-icon-button icon="fa-star"></app-icon-button>
      <app-icon-button icon="fa-gear"></app-icon-button>
    </div>
    <div>
      <app-icon-button icon="fa-moon"></app-icon-button>
      <app-icon-button icon="fa-arrow-right-from-bracket"></app-icon-button>
    </div>
  </div>
</div>
