<div class="w-24 h-screen bg-[var(--primaryNavColor)] flex flex-col">
  <div class="border-b border-slate-300">
    <img src="./logo.svg" alt="" class="w-24 h-24 p-4 rounded-4xl" />
  </div>

  <div class="py-4 flex-1 flex flex-col justify-between overflow-y-auto">
    <div>
      <app-nav-element icon="fa-comments"></app-nav-element>
      <app-nav-element icon="fa-square-user"></app-nav-element>
      <app-nav-element icon="fa-bell"></app-nav-element>
      <app-nav-element icon="fa-file"></app-nav-element>
      <app-nav-element icon="fa-star"></app-nav-element>
      <app-nav-element icon="fa-gear"></app-nav-element>
    </div>
    <div>
      <app-nav-element icon="fa-moon"></app-nav-element>
      <app-nav-element icon="fa-arrow-right-from-bracket"></app-nav-element>
    </div>
  </div>
</div>
